<div class="body-wrapper" ng-app="sousChefApp" ng-controller="FridgeCtrl">
    <div class="top-menu-wrapper">
        <div id="recipes-nav" class="top-menu" ng-click="navClick('recipes-nav');">
            <h5>RECIPES</h5>
        </div>
        <div id="inventory-nav" class="top-menu top-menu-selected" ng-click="navClick('inventory-nav')">
            <h5>MY INVENTORY</h5>
        </div>
        <div id="shopping-nav" class="top-menu" ng-click="navClick('shopping-nav')">
            <h5>SHOPPING LIST</h5>
        </div>
    </div>
    <div class="sous-logo-container">
        <div class="sous-logo"><img src="../Content/SousChefLogo.png" /></div>
        <div class="shopping-logo" hidden><img src="../Content/ShoppingList.png" /></div>
        <div class="top-menu-selected-text"><h4 id="menu-text">My Inventory</h4></div>
    </div>
    <div class="body-container">
        <div id="recipes-body" hidden></div>
        <div id="inventory-body">
            <table>
                <tr><td ng-repeat="item in current.top">{{ item }}</td></tr>
                <tr><td ng-repeat="item in current.bottom">{{ item }}</td></tr>
            </table>
        </div>
        <div id="shopping-body" hidden>
            <table>
                <thead>
                    <tr>
                        <th><img src="../Content/dairy-icon.png" />&nbsp;Dairy</th>
                        <th><img src="../Content/veggies-icon.png" />&nbsp;Vegetables</th>
                        <th><img src="../Content/meat-icon.png" />&nbsp;Meat</th>
                        <th><img src="../Content/misc-icon.png" />&nbsp;Miscellaneous</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><table><tr ng-repeat="item in needed.dairy"><td>{{ item }}</td></tr></table></td>
                        <td><table><tr ng-repeat="item in needed.vegetables"><td>{{ item }}</td></tr></table></td>
                        <td><table ng-repeat="item in needed.meats"><tr><td>{{ item }}</td></tr></table></td>
                        <td><table ng-repeat="item in needed.misc"><tr><td>{{ item }}</td></tr></table></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    var base_url = "http://localhost:54956"
    //var base_url = "http://slabs.cc/SousChef
    angular.module('sousChefApp', []).controller('FridgeCtrl', function ($scope, $http, $location) {
        $scope.inventoryId = $location.search().demo;
        if (typeof ($scope.inventoryId) === 'undefined')
            $scope.inventoryId = 1;
        $scope.needed = {
            'dairy': ['Milk', 'Eggs', 'Cheddar Cheese', 'Swiss Cheese', 'Goat Cheese', 'Yogurt'],
            'vegetables': ['Asparagus', 'Avacados', 'Beet Greens', 'Bell Peppers', 'Bok Choi', 'Broccoli', 'Brussel Sprouts'],
            'meats': ['Chicken', 'Lamb', 'Steak', 'Ribeye', 'T-Bone'],
            'misc': ['Paper Towels', 'Cumin', 'Ketchup']
        };
        $scope.current = {
            top: ['Milk', 'Eggs', 'Cheddar Cheese', 'Swiss Cheese', 'Goat Cheese', 'Yogurt', 'Asparagus', 'Avacados', 'Beet Greens', 'Bell Peppers', 'Bok Choi'],
            bottom: ['Broccoli', 'Brussel Sprouts', 'Chicken', 'Lamb', 'Steak', 'Ribeye', 'T-Bone', 'Paper Towels', 'Cumin', 'Ketchup']
        }

        //$scope.fetchCurrentInventory = function () {
       //     $http.get(base_url + '/api/inventory/current/' + $scope.inventoryId).success(function (current) {
        //        $scope.current = current;
        //    });
        //};

        //$scope.fetchNeededInventory = function () {
        //    $http.get(base_url + '/api/inventory/needed/' + $scope.inventoryId).success(function (needed) {
        //        $scope.current = needed;
        //    });
        //};

        $scope.navClick = function (target) {
            $('.top-menu-selected').toggleClass('top-menu-selected');
            $('#' + target).toggleClass('top-menu-selected');
            if (target == "recipes-nav") {
                $("#menu-text").text("Recipes");
                $(".shopping-logo").hide();
                $("#inventory-body").hide();
                $("#shopping-body").hide();
                $("#recipes-body").show();
            } else if (target == "inventory-nav") {
                $("#menu-text").text("My Inventory");
                $(".shopping-logo").hide();
                $("#inventory-body").show();
                $("#shopping-body").hide();
                $("#recipes-body").hide();
            } else {
                $("#menu-text").text("Shopping List");
                $(".shopping-logo").show();
                $("#inventory-body").hide();
                $("#shopping-body").show();
                $("#recipes-body").hide();
            }
        };

        //$scope.fetchCurrentInventory();
        //$scope.fetchNeededInventory();

    });

</script>
