<div class="body-wrapper" ng-app="sousChefApp" ng-controller="FridgeCtrl">
    <div class="top-menu-wrapper">
        <div id="recipes-nav" class="top-menu" ng-click="navClick('recipes-nav');">
            <h5>RECIPES</h5>
        </div>
        <div id="inventory-nav" class="top-menu top-menu-selected" ng-click="navClick('inventory-nav')">
            <h5>MY INVENTORY</h5>
        </div>
        <div id="shopping-nav" class="top-menu" ng-click="navClick('shopping-nav')">
            <h5>SHOPPING LIST</h5>
        </div>
    </div>
    <div class="sous-logo-container">
        <div class="sous-logo"><img src="../Content/SousChefLogo.png" /></div>
        <div class="shopping-logo" hidden><img src="../Content/ShoppingList.png" /></div>
        <div class="top-menu-selected-text"><h4 id="menu-text">My Inventory</h4></div>
    </div>
    <div class="body-container">
        <div id="recipes-body" hidden>
            <table>
                <tr>
                    <td class="recipe-outer" ng-repeat="item in recipes">
                        <table class="recipe">
                            <tr><td colspan="2"><img src="{{ item.ImageURL }}"  ng-click="speechClick(item.Title)" /><br/>{{ item.Title }}</td></tr>
                            <tr><td colspan="2">{{ item.Description }}</td></tr>
                            <tr>
                                <td><ul><li ng-repeat="oneIngredient in item.Ingredients">{{oneIngredient.Quantity}} {{oneIngredient.Measure}} of {{oneIngredient.Item}} <br/>{{oneIngredient.Description}}</li></ul></td>
                                <td><ul><li ng-repeat="oneStep in item.Directions">{{oneStep}}</li></ul></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div id="inventory-body">
            <table>
                <tr><td ng-repeat="item in current.top">{{ item }}</td></tr>
                <tr><td ng-repeat="item in current.bottom">{{ item }}</td></tr>
            </table>
        </div>
        <div id="shopping-body" hidden>
            <table>
                <thead>
                    <tr>
                        <th><img src="../Content/dairy-icon.png" />&nbsp;Dairy</th>
                        <th><img src="../Content/veggies-icon.png" />&nbsp;Vegetables</th>
                        <th><img src="../Content/meat-icon.png" />&nbsp;Meat</th>
                        <th><img src="../Content/misc-icon.png" />&nbsp;Miscellaneous</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><table><tr ng-repeat="item in needed.dairy"><td>{{ item }}</td></tr></table></td>
                        <td><table><tr ng-repeat="item in needed.vegetables"><td>{{ item }}</td></tr></table></td>
                        <td><table ng-repeat="item in needed.meats"><tr><td>{{ item }}</td></tr></table></td>
                        <td><table ng-repeat="item in needed.misc"><tr><td>{{ item }}</td></tr></table></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="soundFooter"></div>
<script>
    var base_url = "http://localhost:54956"
    //var base_url = "http://slabs.cc/SousChef
    angular.module('sousChefApp', []).controller('FridgeCtrl', function ($scope, $http, $location) {
        $scope.inventoryId = $location.search().demo;
        if (typeof ($scope.inventoryId) === 'undefined')
            $scope.inventoryId = 1;
        $scope.needed = {
            'dairy': ['Milk', 'Eggs', 'Cheddar Cheese', 'Swiss Cheese', 'Goat Cheese', 'Yogurt'],
            'vegetables': ['Asparagus', 'Avacados', 'Beet Greens', 'Bell Peppers', 'Bok Choi', 'Broccoli', 'Brussel Sprouts'],
            'meats': ['Chicken', 'Lamb', 'Steak', 'Ribeye', 'T-Bone'],
            'misc': ['Paper Towels', 'Cumin', 'Ketchup']
        };
        $scope.current = {
            top: ['Milk', 'Eggs', 'Cheddar Cheese', 'Swiss Cheese', 'Goat Cheese', 'Yogurt', 'Asparagus', 'Avacados', 'Beet Greens', 'Bell Peppers', 'Bok Choi'],
            bottom: ['Broccoli', 'Brussel Sprouts', 'Chicken', 'Lamb', 'Steak', 'Ribeye', 'T-Bone', 'Paper Towels', 'Cumin', 'Ketchup']
        }

        $scope.recipes = [
                {
                    "Title": "Smoky Fried Chickpeas",
                    "Description": "I was making a sort of Spanish/Moroccan Moorish sort of dinner for friends one night, and was looking for something small and spicy and crunchy to serve with drinks I thought I had almonds, but had run out but I did have a can of chickpeas..and inspiration struck.",
                    "Ingredients": [
                        {
                            "Quantity": 2,
                            "Measure": "Cans",
                            "Item": "Chickpeas",
                            "Description": ""
                        },
                        {
                            "Quantity": 1,
                            "Measure": "Cup",
                            "Item": "Olive Oil",
                            "Description": ""
                        },
                        {
                            "Quantity": 1,
                            "Measure": "Tablespoon",
                            "Item": "Smoked Paprika",
                            "Description": ""
                        },
                        {
                            "Quantity": 1,
                            "Measure": "Sprig",
                            "Item": "Fresh Thyme",
                            "Description": ""
                        },
                        {
                            "Quantity": 1,
                            "Measure": "",
                            "Item": "Coarse Salt",
                            "Description": "To Taste"
                        },
                        {
                            "Quantity": 4,
                            "Measure": "Pieces",
                            "Item": "Garlic",
                            "Description": "Sliced"
                        }
                    ],
                    "Directions": [
                        {
                            "1": "Drain Chickpeas and set on paper towels over a colander to dry throughly (can be done 1 day in advance)."
                        },
                        {
                            "2": "Heat oil in large pan (preferably cast iron) to 355 or until oil makes bubbles around 1 chickpea."
                        },
                        {
                            "3": "Add lemon zest, thyme sprig, chickpeas in batches so pan doesn't crowd fry about 5 minutes until crunchy color & changes."
                        },
                        {
                            "4": "Remove from oil, drain well over colander/sieve, add garlic, fry till golden."
                        },
                        {
                            "5": "Toss with smoked paprika & salt, add more if necessary. Serve warm."
                        }
                    ],
                    "ImageURL": "https://d2k9njawademcf.cloudfront.net/indeximages/20409/original/100609F_0781.JPG?1403259485"
                },
                {
                    "Title": "Smoky Minestrone with Tortellini and Parsley",
                    "Description": "I was making a sort of Spanish/Moroccan Moorish sort of dinner for friends one night, and was looking for something small and spicy and crunchy to serve with drinks I thought I had almonds, but had run out but I did have a can of chickpeas..and inspiration struck.",
                    "Ingredients": [
                        {
                            "Quantity": 2,
                            "Measure": "Tablespoons",
                            "Item": "Olive Oil",
                            "Description": ""
                        },
                        {
                            "Quantity": 2,
                            "Measure": "Slices",
                            "Item": "Bacon",
                            "Description": "Chopped into small pieces"
                        },
                        {
                            "Quantity": 1,
                            "Measure": "Large",
                            "Item": "Onion",
                            "Description": "Peeled and Chopped"
                        },
                        {
                            "Quantity": 2,
                            "Measure": "Large Cloves",
                            "Item": "Garlic",
                            "Description": "Minced"
                        },
                        {
                            "Quantity": 1,
                            "Measure": "",
                            "Item": "Leek",
                            "Description": "Trimmed and sliced thinly"
                        },
                        {
                            "Quantity": 3,
                            "Measure": "",
                            "Item": "Carrots",
                            "Description": "Peeled and chopped"
                        },
                        {
                            "Quantity": 1,
                            "Measure": "",
                            "Item": "Zucchini",
                            "Description": "Chopped"
                        },
                        {
                            "Quantity": 1,
                            "Measure": "",
                            "Item": "Potato",
                            "Description": "Peeled and chopped"
                        },
                        {
                            "Quantity": 4,
                            "Measure": "Cups",
                            "Item": "Vegetable Stock",
                            "Description": "Peeled and chopped"
                        },
                        {
                            "Quantity": 1,
                            "Measure": "115 ounce can",
                            "Item": "Cooked Chickpeas",
                            "Description": ""
                        },
                        {
                            "Quantity": 1,
                            "Measure": "128 Ounce can",
                            "Item": "Tomatoes",
                            "Description": "With Juice"
                        },
                        {
                            "Quantity": 1,
                            "Measure": "",
                            "Item": "Salt",
                            "Description": "To taste"
                        },
                        {
                            "Quantity": 1,
                            "Measure": "Cup",
                            "Item": "Kale",
                            "Description": "Chopped fine"
                        },
                        {
                            "Quantity": 1,
                            "Measure": "19 Ounce Package",
                            "Item": "Tortellini",
                            "Description": ""
                        },
                        {
                            "Quantity": 1,
                            "Measure": "",
                            "Item": "Aged Balsamic Vinegar",
                            "Description": "For drizzling"
                        },
                        {
                            "Quantity": 1,
                            "Measure": "",
                            "Item": "Grated Parmesian Cheese",
                            "Description": "For Garnish"
                        }
                    ],
                    "Directions": [
                        {
                            "1": "Heat 1 tablespoon of the olive oil in a large pot over medium heat. Add the bacon pieces and cook for a couple of minutes, until they start to brown."
                        },
                        {
                            "2": "Add 2 more tablespoons of oil along with the chopped onion, garlic and leek. Continue to cook, strirring occasionally, over medium heat until softened."
                        },
                        {
                            "3": "Add the chopped carrot, celery, zucchini, potato and stir around for a minute or two."
                        },
                        {
                            "4": "Add the stock, the chickpeas, and then the tomatoes, crushing them with your hands as you go. Add a few generous pinches of salt (be judicious if your stock is salted already). Bring the soup to a boil, then reduce the heat to a simmer and cook for 30-40 minutes, until the potatoes are just tender."
                        },
                        {
                            "5": "Add the kale and the tortellini, and continue to cook over a simmer until both are tender and cooked through, 5 to 7 minutes. Taste and add more salt if necessary. Serve garnished with a spoonful of the pesto, a few drops of the aged balsamic, and a generous sprinkling of grated Parmesan cheese, if desired."
                        }
                    ],
                    "ImageURL": "https://d2k9njawademcf.cloudfront.net/slides/2478/original/052510F_415.JPG?1274843657"
                },
                {
                    "Title": "Absurdly Addictive Asparagus",
                    "Description": " I guess there's a reason Vosges Haut-chocolat Bacon and Chocolate bars are growing in popularity...it just seems that when you add bacon to almost anything, the salty smokiness heightens the other ingredients.",
                    "Ingredients": [
                        {
                            "Quantity": 4,
                            "Measure": "Ounces",
                            "Item": "Pancetta",
                            "Description": ""
                        },
                        {
                            "Quantity": 1,
                            "Measure": "Tablespoon",
                            "Item": "Butter",
                            "Description": ""
                        },
                        {
                            "Quantity": 1,
                            "Measure": "Pound",
                            "Item": "Asparagus",
                            "Description": "Ends trimmed"
                        },
                        {
                            "Quantity": 1.25,
                            "Measure": "Cup",
                            "Item": "Leeks",
                            "Description": "Thinly sliced"
                        },
                        {
                            "Quantity": 2,
                            "Measure": "Cloves",
                            "Item": "Garlic",
                            "Description": "minced"
                        },
                        {
                            "Quantity": 1,
                            "Measure": "Zest",
                            "Item": "Lemon",
                            "Description": ""
                        },
                        {
                            "Quantity": 1,
                            "Measure": "Teaspoon",
                            "Item": "Orange Zest",
                            "Description": ""
                        },
                        {
                            "Quantity": 2,
                            "Measure": "Tablespoon",
                            "Item": "Pine Nuts",
                            "Description": "Toasted"
                        },
                        {
                            "Quantity": 1,
                            "Measure": "Tablespoon",
                            "Item": "Parsley",
                            "Description": "Chopped"
                        },
                        {
                            "Quantity": 1,
                            "Measure": "",
                            "Item": "Salt",
                            "Description": "To Taste"
                        }
                    ],
                    "Directions": [
                        {
                            "1": "In a large non-stick pan, sauté pancetta, stirring frequently, over medium heat, until crisp and lightly golden."
                        },
                        {
                            "2": "Add 1 tablespoon of butter to pan. Add asparagus pieces and leek and sauté until asparagus is tender crisp, about 3-4 minutes."
                        },
                        {
                            "3": "Add garlic, lemon and orange zest, toasted pine nuts and parsley and sauté for about 1 minute, until fragrant. Season to taste with freshly ground pepper and salt and serve immediately."
                        }
                    ],
                    "ImageURL": "https://d2k9njawademcf.cloudfront.net/slides/2478/original/052510F_415.JPG?1274843657"
                },
                {
                    "Title": "Peanut Butter and Jelly Sandwich",
                    "Description": "Nothing fancy, just a classic. Either smooth or crunch peanut butter is acceptable. Classically, the jelly is either strawberry or grape.",
                    "Ingredients": [
                        {
                            "Quantity": 2,
                            "Measure": "Slices",
                            "Item": "Sandwich Bread",
                            "Description": "Cutting crust off is optional"
                        },
                        {
                            "Quantity": 2,
                            "Measure": "Tablespoons",
                            "Item": "Peanut Butter",
                            "Description": "Smooth or cruncy as preferred"
                        },
                        {
                            "Quantity": 2,
                            "Measure": "Tablespoons",
                            "Item": "Jelly",
                            "Description": "Traditional either Grape or Strawberry"
                        }
                    ],
                    "Directions": [
                        {
                            "1": "Spread the peanut butter on one piece of bread."
                        },
                        {
                            "2": "Spread the jelly on the other side."
                        },
                        {
                            "3": "Put the two pieces of bread together to form a sandwich."
                        },
                        {
                            "4": "Toddler adaptation: cut off crusts before serving."
                        }
                    ],
                    "ImageURL": "http://img.sndimg.com/food/image/upload/w_266/v1/img/recipes/24/39/65/picIDMFir.jpg"
                },
                {
                    "Title": "Mac and Cheese",
                    "Description": "I always make a big batch of this because my husband and I both love this and always want more.",
                    "Ingredients": [
                        {
                            "Quantity": 2,
                            "Measure": "Cups",
                            "Item": "Elbow Macaroni",
                            "Description": ""
                        },
                        {
                            "Quantity": 2,
                            "Measure": "Cups",
                            "Item": "Milk",
                            "Description": ""
                        },
                        {
                            "Quantity": 3,
                            "Measure": "Tablespoons",
                            "Item": "Flour",
                            "Description": ""
                        },
                        {
                            "Quantity": 1,
                            "Measure": "",
                            "Item": "Salt",
                            "Description": "To taste"
                        },
                        {
                            "Quantity": 1,
                            "Measure": "",
                            "Item": "Pepper",
                            "Description": "To taste"
                        },
                        {
                            "Quantity": 0.25,
                            "Measure": "Cup",
                            "Item": "Butter",
                            "Description": ""
                        },
                        {
                            "Quantity": 2,
                            "Measure": "Cups",
                            "Item": "Cheese",
                            "Description": ""
                        }
                    ],
                    "Directions": [
                        {
                            "1": "Cook the macaroni and set aside."
                        },
                        {
                            "2": "In a pot, melt the butter and mix in salt and pepper."
                        },
                        {
                            "3": "Slowly add in the flour, stirring continuously."
                        },
                        {
                            "4": "Gradually add the milk and stir the mixture until smooth."
                        },
                        {
                            "5": "Add the cheese on a low heat and melt into the mixture."
                        },
                        {
                            "6": "Once the mixture is at your desired consistency, mix in the drained macaroni"
                        }
                    ],
                    "ImageURL": "http://img.sndimg.com/food/image/upload/w_266/v1/img/recipes/25/42/99/picKG4ssh.jpg"
                }
            ];
        

        //$scope.fetchCurrentInventory = function () {
       //     $http.get(base_url + '/api/inventory/current/' + $scope.inventoryId).success(function (current) {
        //        $scope.current = current;
        //    });
        //};

        //$scope.fetchNeededInventory = function () {
        //    $http.get(base_url + '/api/inventory/needed/' + $scope.inventoryId).success(function (needed) {
        //        $scope.current = needed;
        //    });
        //};

        $scope.speechClick = function (text) {
            //slabs.cc/souschef/api/texttospeech?text="Smoky Fried Chickpeas"
            $http.get(base_url + '/api/texttospeech?text="' + text + '"').success(function (result) {
                $("#soundFooter").html(result.substring(1, result.length-1));
            });
        };

        $scope.navClick = function (target) {
            $('.top-menu-selected').toggleClass('top-menu-selected');
            $('#' + target).toggleClass('top-menu-selected');
            if (target == "recipes-nav") {
                $("#menu-text").text("Recipes");
                $(".shopping-logo").hide();
                $("#inventory-body").hide();
                $("#shopping-body").hide();
                $("#recipes-body").show();
            } else if (target == "inventory-nav") {
                $("#menu-text").text("My Inventory");
                $(".shopping-logo").hide();
                $("#inventory-body").show();
                $("#shopping-body").hide();
                $("#recipes-body").hide();
            } else {
                $("#menu-text").text("Shopping List");
                $(".shopping-logo").show();
                $("#inventory-body").hide();
                $("#shopping-body").show();
                $("#recipes-body").hide();
            }
        };

        //$scope.fetchCurrentInventory();
        //$scope.fetchNeededInventory();

    });

</script>
